.singleProdukt {
  position: relative;
  width: 80%;
  height: 310px;
  background-color: #f5f5f5;
  color: black;
  text-decoration: none;
  margin: 40px auto;
  padding: 20px;
}
  
.singleProdukt img {
  position: absolute;
  width: 100px;
  height: 150px;
  top: 90px;
  left: 30px;
}
  
.singleProdukt .name {
  position: absolute;
  bottom: 40px;
}
  
.singleProdukt .price {
  position: absolute;
  bottom: 15px;
}

.singleProdukt .text {
  padding-left: 200px;
}
  